simple-rpc-spring/src/main/resources/META-INF/simple.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.simple.com/schema/simple"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.simple.com/schema/simple">


    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>


    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the rpc  ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:element name="node">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">

                    <xsd:attribute name="application"
                                   type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                应用名称
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="port"
                                   type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                服务端通信的端口
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="register">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">

                    <xsd:attribute name="address"
                                   type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                地址
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="protocol"
                                   type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                协议
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="boot">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">

                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">

                    <xsd:attribute name="interface"
                                   type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                服务地址
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="version"
                                   type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                版本号
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">

                    <xsd:attribute name="interface"
                                   type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                服务地址
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="ref"
                                   type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                指向的实现
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="version"
                                   type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                版本号
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>